{% extends 'base.html' %}
{% load static %}
{% load currency %}
{% load humanize %}
{% block content %}
<script>
    var URL = "{% url 'customers' %}"
</script>
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">{{ method }} Receipt</h4> 
            </div>
            <span>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{message.tags}} alert-dismissible">
                        {{ message|safe }}
                        <a href="" class="close" and data-dismiss="alert">Close-X</a>
                    </div>
                {% endfor %}
            {% endif %}
            </span>
        </div>
        <div class="col-md-12">
            <div class="white-box">
                <div id="printCustomerReceipt">
                        <div id="printed">
                            <div style="text-align:right;padding: 3px;">
                                <h4 class="modal-title" style="line-height: 3.2rem"> {{ method }} Receipt</h4>
                                <h5 class="modal-title" style="line-height: 3.2rem">P.O.BOX Malikia South Sudan</h5>
                                <h5 class="modal-title" style="line-height: 3.2rem">Behind Eden Commercial Bank</h5>
                                <h5 class="modal-title" style="line-height: 3.2rem">+211(0)924248033/+211(0)919253500</h5>
                            </div>
                            <div style="text-align: left;padding: 3px">
                                {% if method != 'Quotation' %}
                                <h4 class="modal-title" style="line-height: 3.2rem">Receipt No: <b>{{ receipt }}</b> </h4>
                                <h4 class="modal-title" style="line-height: 3.2rem">Customer Name: <b> {{ customer }}</b></h4>
                                <h4 class="modal-title" style="line-height: 3.2rem">PurchasedFrom: <b> {{ purchased }}</b></h4>
                                <h4 class="modal-title" style="line-height: 3.2rem">Mode of Payment: <b>{{ payMethod }} </b></h4>
                                {% endif %}
                            </div>
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Quantity</th>
                                        <th>Price({{ currency }})</th>
                                        <th>Total({{ currency }})</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for x in receipts %}
                                        <tr>
                                            <td> {{ x.item_purchased }}</td>
                                            <td> {{ x.quantity }}</td>
                                            <td> {{ x.price }}</td>
                                            <td> {{ x.amount }}</td>
                                        </tr>
                                    {% endfor %}
                                    {% if discount > 0 %}
                                        <tr>
                                            <td colspan="3"> Discount </td>
                                            <td> {{ discount }}</td>
                                        </tr>
                                    {% endif %}  
                                    <tr>
                                        <td colspan="3"> Grand Total </td>
                                        <td> {{ total }}</td>
                                    </tr>     
                                </tbody>
                            </table>
                    </div>
                </div>
                <button type="submit" onclick="PrintContent('printed');" class="btn btn-primary">Print </button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}